// @import url('https://fonts.google.com/specimen/Montserrat');
// @import url('https://fonts.google.com/specimen/Fraunces');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

// @font-face {
//     font-family: Montserrat;
//     src: url('https://fonts.google.com/specimen/Montserrat');
// }

// @font-face {
//     font-family: Fraunces;
//     src: url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
// }


// - Dark cyan: hsl(158, 36%, 37%)
// - Cream: hsl(30, 38%, 92%)

// ### Neutral

// - Very dark blue: hsl(212, 21%, 14%)
// - Dark grayish blue: hsl(228, 12%, 48%)
// - White: hsl(0, 0%, 100%)

$light-cyan: hsl(158, 36%, 37%);
$dark-cyan: hsl(158, 36%, 27%);
$cream: hsl(30, 38%, 92%);
$dark-blue: hsl(212, 21%, 14%);
$grayish-blue: hsl(228, 12%, 48%);
$white: hsl(0, 0%, 100%);

html {
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
    background-color: $cream;
    font-size: .875rem;
    display: grid;
    place-content: center;
    height: 100%;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
}

#page-container {
    position: relative;
}

#content-wrap {
    padding-bottom: 1rem;
}


.productPane {
    height: 100%;
    width: 92%;
    margin-left: 4%;
    // display: grid;
    // align-self: end;
    background: $white;
    border-radius: 10px;
    // padding-bottom: 0;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}

.productImageMobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 10px;
}

.productType {

    // -------------------------------------------------------------------------
    // WHEN YOU FINISH - Use commented padding-top below instead off this padding-top
    // padding-top: 0px;
    // -------------------------------------------------------------------------
    

    padding-top: 5px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-size: .74em;
    height: .8rem;
    color:$grayish-blue;
}

.productName{
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 1.7rem;
    line-height: 1.65rem;
    // font-stretch: condensed;
    margin-bottom: 1.2rem;
}

.productDescription{
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: .76rem;
    line-height: 1.23rem;
    color: $grayish-blue;
}

.productPriceContainer {
    display: flex;
    // height: 2rem;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}

.productPriceSale {
    font-family: 'Fraunces', serif;
    color: $light-cyan;
    font-weight: 700;
    font-size: 1.7rem;
}


.productPriceOriginal {
    font-family: 'Montserrat', sans-serif;
    padding-left: 10px;
    text-decoration: line-through;
    padding-left: 1rem;
    font-size: .7rem;
    color: $grayish-blue;

}

.buttonAddCart {
    height: 2.5rem;
    width: 86%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: .45rem;
    background-color: $light-cyan;
    color: $white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: .7rem;
    text-align: center;
}

.buttonAddCartContent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cartIcon {
    display: inline-block;
    height: .8rem;
    padding-right: .5rem;
}


footer {
    position: absolute;
    bottom: 0;
    height: 1rem;
    width: 100%;
    display: flex;
    place-content: center;
}


